.home-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 100%;
}

.post-grid .featured {
  grid-column: 1 / -1;
  height: 300px;
}

@media (max-width: 700px) {
  .post-grid {
    grid-template-columns: 1fr;
  }
}
