@use 'breakpoints' as bp;

.tag-view h1 {
  margin-bottom: 2rem;
}

.post-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

  @include bp.respond-below(md) {
    grid-template-columns: 1fr;
  }
}
