.blog-layout {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin: 0 auto;
}

.toc {
  position: sticky;
  top: 2rem;
  align-self: start;
}

@media (max-width: 800px) {
  .blog-layout {
    grid-template-columns: 1fr;
  }

  .toc {
    display: none;
  }
}
